#canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  background: #000;
}

/* canvas {} */

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#mediaControl {
  display: inline-grid;
  grid-column-gap: 20px;
  width: calc(100% - 40px);
  grid-template-columns: 80px auto 180px 180px 180px;
  margin: 20px 20px;
}

#inputControl {
  display: inline-grid;
  grid-column-gap: 20px;
  width: calc(100% - 40px);
  grid-template-columns: 80px 80px auto;
  margin: 20px 20px;
}